

<div class="container jumbotron">
  <h1 class="jumbotron-heading text-center">HOME</h1>
</div>

<div class="album py-5 bg-light">
  <div class="container">

    <div class="row">

      <div class="">
        <h2 class="text-center">Fitbit summary</h2>
      </div>

      <%= render partial: "fitbit", locals: {summary: @summary_hash} %>

      <hr class="my-4">

      <div class="">
        <h2 class="text-center">Customized boards</h2>
      </div>

      <% @boards.each_with_index do |board, idx| %>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm text-center">

            <div class="my-3 py-3">
              <p class="display-6"><%= board[:name] %></p>
            </div>
            
            <%= image_tag board.image, class: "img-fluid rounded mx-auto d-block" %>
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <%= button_to "View", board[:path], class: "btn btn-sm btn-outline-secondary" %>
                  <%= button_to "Delete", board_path(board[:id]), method: :delete, class: "btn btn-sm btn-outline-secondary" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm text-center">

          <div class="my-3 py-3">
            <p class="display-6">Add an board</p>
          </div>

          <%= image_tag "plus.png", class: "img-fluid rounded mx-auto d-block" %>
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <%= button_to "Add", new_board_path, method: :get, class: "btn btn-sm btn-outline-secondary" %>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


