
<div class="album py-5 bg-light">
  <div class="container">

    <div class="sidenav">
      <div class="login-main-text">
        <h2>Application<br>Sign in</h2>
      </div>
    </div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="main">
        <div class="col-md-6 col-sm-12">
          <div class="login-form">

            <div class="form-group">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :password %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
            </div>

          </div>
        </div>
      </div>

      <%= f.submit "Sign in", class: "btn btn-sm btn-secondary" %>
      
    <% end %>

    <br />

    <%= render "devise/shared/links" %>

  </div>
</div>



