<!DOCTYPE html>
<html>

  <head>

    <title>home</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <div class="collapse bg-dark" id="navbarHeader">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-md-7 py-4">
            <h4 class="text-white">About</h4>
            <p class="text-muted">This is an portfolio of nnoitra05. </p>
          </div>
          <div class="col-sm-4 offset-md-1 py-4">
            <h4 class="text-white">Menu</h4>
            <ul class="list-unstyled">
              <% if user_signed_in? %>
                <li><%= link_to 'Edit profile', edit_user_registration_path, class: 'text-white' %></li>
                <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'text-white' %></li>
                <li><%= link_to 'Play sandbox', sandbox_pages_path, class: 'text-white' %></li>
              <% else %>
                <li><%= link_to 'Sign up', new_user_registration_path, class: 'text-white' %></li>
                <li><%= link_to 'Sign in', new_user_session_path, class: 'text-white' %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container d-flex justify-content-between">
        <%= link_to "nnoitra05", root_path, class: "navbar-brand d-flex align-items-center" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>

  </head>

  <body>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
    <%= yield %>
  
  </body>

  <footer class="text-muted">
    <div class="container">
      <p class="float-right">
      <%= link_to "Back to home", root_path %>
      </p>
    </div>
  </footer>

</html>
